/* CSS files add styling rules to your content */

body, html {
    font-family: helvetica, arial, sans-serif;
    margin: 10px;
    background-color: black;
    color: white;
  }
  
  h1 {
    font-style: italic;
    color: #ff0066;
  }
  
  button {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    color: white;
  }
  
  main {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  main > * {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  canvas {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }