{% extends "base.html" %}
{% block content %}
<section id="content">
  <h1  class="pwd  ">visitor@{{SITENAME}}/coders:$ ls <span class="cyber-glitch-3">|</span></h1>

{% block content_title %}
<h2 class="cyber-h">Coders</h2>
{% endblock %}

{% for page in pages %}
    {% if page.category == 'coders' %}
        {{ page.content }}
    {% endif %}
{% endfor %}


<ul id="coderslist">
{% for article in articles %}
  {% if article.category == 'coders' %}
    <li class="coderitem">
      <a href="{{ SITEURL }}/{{article.url}}">
        <div class="indeximg cyber-tile-small fg-dark bg-blue">
          <img src="{{ SITEURL }}/images/{{article.image}}" />
          <label>{{article.title}}</label>
        </div>
      </a>
    </li>
  {%endif%}
{% endfor %}
</ul><!-- /#posts-list -->

</section><!-- /#content -->
{% endblock  %}

