{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h1  class="pwd  ">visitor@{{SITENAME}}/events:$ ls <span class="cyber-glitch-3">|</span></h1>

{% endblock %}
<ul id="eventlist">
{% for article in articles %}
  {% if article.category == 'events' %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
        {%endif%}
{% endfor %}
</ul><!-- /#posts-list -->

</section><!-- /#content -->
{% endblock content %}